
.grey-background {
    color: #337ab7;
}

.well.profile-description {

}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 30px 0 0 0;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(70,70,70,0.8);
    -moz-box-shadow: 0px 5px 20px 0px rgba(70,70,70,0.8);
    box-shadow: 0px 5px 20px 0px rgba(70,70,70,0.8);
}